/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabeçalho */
header {
    background: #f4c542; /* amarelo */
    text-align: center;
    padding: 20px 0;
}

header .logo {
    height: 150px;
    display: block;
    margin: 0 auto 10px auto;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px;
}

/* Banner */
.banner {
    background: url("img/banner.jpg") center/cover no-repeat;
    height: 450px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner::after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.3); /* deixa o texto mais visível */
}

.texto-banner {
    position: relative;
    color: white;
    z-index: 1;
}

.texto-banner h2 {
    font-size: 2.8em;
    margin-bottom: 10px;
}

.texto-banner p {
    font-size: 1.6em;
}

/* Rodapé */
footer {
    background: #f4c542;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}